/* header and nav layout */
header {
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 0 var(--size-15);
}

header:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(15px);
  background-color: rgba(255, 255, 255, .6);
  z-index: -1;
}

header .nav-wrapper {
  width: 100%;
}

header nav > *:empty {
  display: none;
}

header nav {
  box-sizing: border-box;
  display: grid;
  grid-template:
    'brand tools hamburger ' var(--nav-height)
    'sections sections sections' 1fr / auto 1fr auto;
  gap: 0 var(--size-28);
  margin: auto;
  max-width: 1248px;
  height: var(--nav-height);
  font-family: var(--body-font-family);
  align-items: flex-end;
}

header nav > * {
  margin-bottom: var(--size-12);
}

header nav[aria-expanded='true'] {
  grid-template:
    'brand tools hamburger ' var(--nav-height)
    'sections sections sections' 1fr / auto 1fr auto;
  overflow-y: auto;
}

header nav p {
  margin: 0;
  line-height: 1;
}

header nav a:any-link {
  color: currentcolor;
}

/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;
  height: 2.125rem;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 11;
  margin-right: var(--size-05);
  margin-bottom: var(--size-13);
}

header nav .nav-hamburger button {
  height: 2.125rem;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: var(--background-color);
  color: inherit;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
}

header nav .nav-hamburger-icon {
  width: 2.5rem;
  display: flex;
  font-size: var(--size-17);
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  position: relative;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  content: '';
  display: block;
  background: currentcolor;
  width: 1.25rem;
  transition: transform .25s ease;
}

header nav[aria-expanded='false'] .nav-hamburger-icon,
header nav[aria-expanded='false'] .nav-hamburger-icon::before,
header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  height: .25rem;
  background: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::before {
  margin-top: calc(var(--size-14) * -1);
}

header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  margin-top: var(--size-14);
  margin-left: auto;
}

header nav[aria-expanded='true'] .nav-hamburger-icon {
  height: 2.5rem;
  flex-wrap: wrap;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::before,
header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  top: -1rem;
  left: 1px;
  transform: rotate(45deg);
  transform-origin: 2px 1px;
  width: 2.5rem;
  height: .25rem;
  background-color: var(--color-red);
}

header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  top: 1rem;
  transform: rotate(-45deg);
}

/*Nav drop*/

header .nav-drop img {
  max-height: 1.25rem;
  width: auto;
}

header nav .nav-sections .nav-drop::after {
  content: '';
  display: inline-block;
  position: static;
  transform: rotate(45deg);
  width: 6px;
  height: 6px;
  border: 2px solid currentcolor;
  border-radius: 0 1px 0 0;
  border-width: 2px 2px 0 0;
  margin-left: var(--size-08);
  margin-top: var(--size-06);
}

header nav .nav-sections .default-content-wrapper > ul > li > ul > li > ul > li:first-child:has(picture) {
  padding-top: var(--size-06);
}
header nav .nav-sections .default-content-wrapper > ul > li > ul > li > ul > li:has(picture) + li:not(:has(picture)):not(:has(em)) > * {
  margin-top: 0.3125rem;
  width: 100%;
  max-width: 13rem;
  margin-bottom: 0.625rem;
  display: block
}

header nav .nav-sections .default-content-wrapper > ul > li > ul > li > ul > li:has(em) {
  line-height: 1.42857;
  margin-bottom: var(--size-10);
}

header nav .nav-sections .default-content-wrapper > ul > li > ul > li > ul > li:has(em) em  {
  font-weight: 600;
  font-style: normal;
  font-size: var(--size-17);
  line-height: inherit;
  display: inline-flex;
}

header nav .nav-sections .default-content-wrapper > ul > li > ul > li > ul > li:has(a):hover {
  opacity: 80%;
}

header nav .nav-sections .default-content-wrapper > ul > li > ul > li > ul > li a {
  text-decoration: none;
}

header nav .nav-sections .default-content-wrapper > ul > li > ul > li > ul > li picture {
  margin-left: calc(var(--size-04) * -1);
  display: inline-flex;
}

header nav .nav-sections .default-content-wrapper > ul > li > ul > li > ul > li:has(em) ~ li:not(:has(em))  {
  border-bottom: 1px solid var(--color-8080);
  line-height: 1.42857143;
  font-size: var(--size-14);
  min-height: 1.83rem;
  font-weight: 300;
}
header nav .nav-sections .default-content-wrapper > ul > li > ul > li > ul > li:has(em) ~ li:not(:has(em)) > a {
  /*font-size: var(--size-14);*/
  font-size: .84rem;
}

header nav .nav-sections .default-content-wrapper > ul > li > ul > li > ul > li:has(em) ~ li:not(:has(em)) > strong {
  font-weight: 700;
}

header nav .nav-sections .default-content-wrapper > ul > li > ul > li > ul > li:has(em) ~ li:not(:has(em)) picture {
  position: relative;
  bottom: calc(var(--size-06) * -1);
}

header nav .nav-sections .default-content-wrapper > ul > li > ul > li > ul > li:has(u) {
  display: none;
}

header nav .nav-sections .default-content-wrapper > ul > li > ul > li > ul > li:has(u) + li:has(> em) {
  margin-top: var(--size-32);
}

header nav .nav-sections .default-content-wrapper > ul > li > ul > li > ul > li:has(u) + li:has(> strong) {
  margin-top: var(--size-10);
}

header nav .nav-sections .default-content-wrapper > ul > li > ul > li > ul > li:has(u) + li:has(> strong) + li:has(a) {
  border: 0;
}

header nav .nav-sections .default-content-wrapper > ul > li > ul > li > ul > li:has(strong > a) > strong:first-child > a {
  color: var(--color-black);
  background: transparent linear-gradient(90deg, #fff -20%, #dcdce3 101%, #770e12 100%);
  border: none;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  padding: 0.9375rem 1.875rem;
  font-weight: 700;
  font-size: var(--size-14);
  line-height: 0.8125rem;
  display: inline-block;
}

header nav .nav-sections .default-content-wrapper > ul > li > ul > li > ul > li:first-child:has(em) ~ li:has(em) {
  margin-top: var(--size-10);
}

header nav .nav-sections .default-content-wrapper > ul > li > ul > li > ul > li:first-child:has(em) ~ li:has(> strong > em) > strong > em{
  font-size: var(--size-14);
}

header nav .nav-sections .default-content-wrapper > ul > li > ul > li > ul > li:has(> strong > u)  +li:has(picture) picture {
  margin-left: 0;
}

header nav .nav-sections .default-content-wrapper > ul > li > ul > li > ul > li:has(> strong > u)  +li:has(picture) picture img {
  max-height: none;
  width: 100%;
  height: auto;
  margin-top: var(--size-17);
  position: relative;
  left: calc(var(--size-06) * -1);
}

@media (width >= 900px) {
  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }
}

/* brand */
header .nav-brand {
  grid-area: brand;
  flex-basis: 242px;
  font-size: var(--heading-font-size-s);
  line-height: 1;
  position: relative;
  max-width: 6.25rem;
}

header .nav-brand p {
  line-height: 0;
}

header nav .nav-brand img {
  width: 100%;
  height: auto;
}

header nav .nav-sections ul {
  list-style: none;
  padding-left: 0;
  font-size: var(--header-links);
  font-weight: 300;
}

header nav .nav-sections ul > li > ul {
  margin-top: 0;
}

header nav .nav-sections ul > li > ul > li {
  font-weight: 400;
}

/* tools */
header nav .nav-tools {
  grid-area: tools;
}

header nav .nav-tools .default-content-wrapper {
  display: flex;
  align-items: center;
  gap: var(--size-10);
  justify-content: flex-end;
}

header .nav-tools .button-container a {
  text-transform: uppercase;
  color: var(--color-red);
  border: 0;
  background: transparent;
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: var(--size-16);
}

.header .nav-tools img {
  max-height: 1.875rem;
  width: auto;
  border-radius: var(--size-08);
}

@media (width < 900px) {
  header .nav-brand {
    margin-right: calc(var(--size-20) * -1);
  }
  header nav .nav-sections,
  header nav .nav-sections .nav-drop > ul {
    transition: all .5s ease;
    overflow: hidden;
    backdrop-filter: blur(15px);
    background-color: #fff;
    width: 100%;
    max-width: 22.5rem;
    height: 100dvh;
    padding: 6.25rem 1.5625rem 1rem;
    position: fixed;
    right: -200%;
    top: 0;
    z-index: 10;
    overflow-y: auto;
  }

  header nav .nav-sections .nav-drop > ul {
    padding-top: 3.125rem;
  }

  header nav[aria-expanded='true'] .nav-sections,
  header nav .nav-sections .nav-drop[aria-expanded="true"] > ul {
    right: 0;
  }

  header nav .nav-sections .nav-drop {
    line-height: 1.42857143;
  }

  header nav .nav-sections .default-content-wrapper > ul > li {
    margin-bottom: var(--size-10);
  }

  header nav .nav-sections .nav-drop,
  header nav .nav-sections .default-content-wrapper > ul > li > a {
    position: relative;
    font-size: var(--size-20);
  }

  header nav .nav-sections .nav-drop[aria-expanded="true"] {
    position: static;
  }

  header nav .nav-sections .nav-drop:after {
    position: absolute;
    right: calc(var(--size-10) * -1);
    z-index: 1;
    width: var(--size-08);
    height: var(--size-08);
  }

  header nav .nav-sections .default-content-wrapper > ul {
    margin: 0;
  }

  header nav .nav-sections .nav-drop[aria-expanded="true"]:after {
    z-index: 10;
    transform: rotate(-135deg);
    right: var(--size-10);
    top: calc(var(--size-10) * 10);
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul > li > ul > li:has(em) ~ li:not(:has(em)) {
    border-bottom: 0 none;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul > li > ul > li:has(> strong > u) +li:has(picture) picture img {
    max-height: 7.8125rem;
    left: 0;
  }
  
  header nav[aria-expanded="true"] .nav-hamburger {
    position: relative;
    top: var(--size-05);
    right: calc(var(--size-04) * -1);
  }
}

@media (width >= 900px) {
  header {
    padding: 0 var(--size-20);
  }

  header .nav-brand {
    top: var(--size-02);
    width: auto;
  }

  header nav {
    display: flex;
    justify-content: space-between;
    gap: 0 4%;
    max-width: 85rem;
    align-items: flex-start;
  }

  header nav > * {
    margin-bottom: 0;
  }

  header nav[aria-expanded='true'] {
    min-height: 0;
    overflow: visible;
  }

  /* sections */
  header nav .nav-sections {
    white-space: nowrap;
    height: 100%;
    align-items: center;
    display: flex;
    grid-area: sections;
    flex: 1 1 auto;
  }

  header nav[aria-expanded='true'] .nav-sections {
    display: block;
    visibility: visible;
    align-self: start;
    position: fixed;
    right: 0;
    width: 100%;
    max-width: 22.5rem;
    background: white;
    z-index: 10;
  }

  header nav[aria-expanded="true"] .nav-sections {
    position: static;
    max-width: none;
    background: none;
  }

  header nav .nav-sections > .default-content-wrapper > ul {
    display: flex;
    column-gap: 1.95%;
    margin: 0;
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  
  header nav .nav-sections .default-content-wrapper > ul > li {
    padding-top: 1.9375rem;
    display: flex;
  }

  header nav .nav-sections .default-content-wrapper,
  header nav .nav-sections .default-content-wrapper > ul,
  header nav .nav-sections .default-content-wrapper > ul > li {
    height: 100%;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul {
    display: none;
    position: relative;
  }
  
  header nav .nav-sections .nav-drop {
    position: relative;
    cursor: pointer;
  }

  header nav .nav-sections .nav-drop > a {
    pointer-events: none;
  }

  header nav .nav-sections .nav-drop:hover > ul {
    color: var(--color-black);
  }
  
  header nav .nav-sections li:first-child + .nav-drop ul {
    color: #000;
  }

  header nav .nav-sections .nav-drop::after {
    transform: rotate(135deg);
  }

  header nav .nav-sections .nav-drop[aria-expanded='true']::after,
  header nav .nav-sections .nav-drop:hover::after {
    margin-top: .5rem;
    transform: rotate(315deg);
  }

  header nav .nav-sections .default-content-wrapper > ul > li {
    flex: 0 1 auto;
    position: static;
    font-size: clamp(0.625rem, 0.125rem + 0.8889vw, 0.875rem);
  }

  header nav .nav-sections .default-content-wrapper > ul > li[aria-expanded='true'] > ul,
  header nav .nav-sections .default-content-wrapper > ul > li.nav-drop:hover > ul {
    position: absolute;
    left: 0;
    width: 100%;
    top: var(--nav-height);
    padding: 16px 2.8% 16px 16.8%;
    white-space: initial;
    height: calc(100dvh - var(--nav-height));
    max-height: 23.75rem;
    overflow-y: auto;
    display: flex;
    justify-content: space-evenly;
    right: 0;
    background-color: rgba(255, 255, 255, .6);
    backdrop-filter: blur(15px);
    align-items: flex-start;
    z-index: 1;
  }
  
  header nav .nav-sections .default-content-wrapper > ul > li > ul > li {
    padding: var(--size-03) 0;
    display: inline-flex;
  }

  header nav .nav-sections > .default-content-wrapper > ul > li:hover {
      color: var(--color-red);
  }

  header nav .nav-sections .default-content-wrapper > ul > li[aria-expanded='true'] > ul > li,
  header nav .nav-sections .default-content-wrapper > ul > li.nav-drop:hover > ul > li {
    width: 20.039%;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul::before {
    content: '';
    position: absolute;
    top: -8px;
    left: 16px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid var(--light-color);
  }

  header nav .nav-tools .default-content-wrapper {
    padding-top: var(--size-30);
    align-items: flex-start;
    gap: var(--size-18);
  }

  .header .nav-tools img {
    max-height: 2.0625rem;
    border-radius: 0;
  }

  header .nav-tools .button-container a {
    font-size: var(--size-17);
  }
}