.hero > div{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
}

.hero > div div.text-hero {
    color: #4e4d52;
    font-weight: bold;
    padding: 0 1rem;
    border-bottom-right-radius: 10px;
    font-size: 2rem;
}

.hero > div div.text-hero p {
    margin: 0;
}

.hero > div div.picture-hero {
    width: 3rem;
    height: 3rem;
}