.columns.caracteristicas-ventajas-magento .columns-img-col picture {
	display: block;
	max-width: 226px;
	margin: 0 auto;
}

.columns.caracteristicas-ventajas-magento p {
	line-height: 1;
	margin: 0;
	text-align: right;
}

.columns.caracteristicas-ventajas-magento p > strong {
	font-size: 48px;
}

.columns.caracteristicas-ventajas-magento p:nth-child(3) {
	color: #ED1C24;
	margin-bottom: 20px;
}

.columns.caracteristicas-ventajas-magento a {
	color: #4e4d52;
	background: transparent linear-gradient(90deg, #fff -20%, #dcdce3 101%, #770e12 100%);
	border: none;
	box-shadow: 0 10px 10px rgba(0,0,0,0.16);
	border-radius: 10px;
	display: inline-block;
	font-weight: bold;
	margin: 0;
	padding: 10px;
	text-align: center;
	transition: all .5s;
	width: 250px;
}

.columns.caracteristicas-ventajas-magento a:hover {
	border: none;
	background: #fff;
	box-shadow: 1px 1px 10px #4e4d52;
	transform: scale(.9, .9);
}