div.hero-banner-content > div{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

div.hero-banner-content > div div.hero-banner-content-text {
  max-width: 41%;
}

div.hero-banner-content > div div.hero-banner-content-text h1 {
  font-size: 70px;
}

div.hero-banner-content > div div.hero-banner-content-text h1 strong {
  color: #ed1c24;
}