div.custom-banner-row-cols-full-screen.block > div {
    display: grid;
    grid-template-columns: 2fr 3fr;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
}

.custom-banner-row-full-screen-1 {
    padding: 1rem;
}

.custom-banner-row-full-screen-1 h3 {
    margin: 0;
    text-align: right;
    font-size: 26px;
    color: #4e4d52;
}

.custom-banner-row-full-screen-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 4rem;
}

.custom-banner-row-full-screen-2 h1 {
    font-size: 20px;
    font-family: "Hind", sans-serif;
    font-weight: 700;
}


.custom-banner-row-full-screen-2 > p {
    font-size: 15px;
    font-family: "Hind", sans-serif;
    font-weight: 700;
}

.custom-banner-row-full-screen-2 .button-container{
    width: 49%;
}

.custom-banner-row-full-screen-2 .button-container .viewMoreContainerButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.custom-banner-row-full-screen-2 .button-container .viewMoreContainerButton a {
    width: 100%;
}

.custom-banner-row-full-screen-2 .button-container .viewMoreContainerButton .viewMoreButton {
    width: 100%;
}

@media only screen and (max-width: 768px) {
    div.custom-banner-row-cols-full-screen.block > div {
        grid-template-columns:auto;
        align-items: center;
        max-width: 1000px;
        margin: 0 auto;
    }

    .custom-banner-row-full-screen-2 .button-container{
        width: 100%;
    }

    .custom-banner-row-full-screen-2 .button-container button {
        width: 100%;
    }

    .custom-banner-row-full-screen-2 {
        padding: 1rem;
    }
}

@media only screen and (max-width: 500px) {

}